name: Release
run-name: "Release ${{ inputs.release-version }}"

on:
  workflow_dispatch:
    inputs:
      release-version:
        description: "A valid Semver version string"
        required: true
        type: string

permissions:
  contents: write

concurrency:
  group: "release-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  release:
    name: release-${{ inputs.release-version }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: prefix-dev/setup-pixi@v0.9.2
        with:
          activate-environment: true

      # Check if the release string is valid and ok

      - name: Check the version is valid semver
        run: |
          RELEASE_VERSION="${{ inputs.release-version }}"

          {
            pysemver check $RELEASE_VERSION
          } || {
            echo "The version '$RELEASE_VERSION' is not a valid Semver version string."
            echo "Please use a valid semver version string. More details at https://semver.org/"
            echo "The release process is aborted."
            exit 1
          }

      - name: Check the version is higher than the latest one
        run: |
          RELEASE_VERSION="${{ inputs.release-version }}"
          LATEST_VERSION=$(git describe --abbrev=0 --tags)

          IS_HIGHER_VERSION=$(pysemver compare $RELEASE_VERSION $LATEST_VERSION)

          if [ "$IS_HIGHER_VERSION" != "1" ]; then
            echo "The version '$RELEASE_VERSION' is not higher than the latest version '$LATEST_VERSION'."
            echo "The release process is aborted."
            exit 1
          fi

      # Install and check the source code

      - name: Build and install package
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{ inputs.release-version }}
        run: pixi install

      - name: Lint source code
        run: pixi run lint-format

      - name: Run tests
        run: pixi run tests

      # Release logic

      - name: Generate a changelog
        env:
          RELEASE_TAG: "${{ inputs.release-version }}"
        run: |
          git-cliff --unreleased --prepend CHANGELOG.md --tag $RELEASE_TAG

      - name: Configure git
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Commit the changelog
        run: |
          git add CHANGELOG.md
          git commit -m "Update changelog for ${{ inputs.release-version }}"
          git push origin main

      - name: Create and push git tag
        run: |
          git tag -a "${{ inputs.release-version }}" -m "Release version ${{ inputs.release-version }}"
          git push origin "${{ inputs.release-version }}"

      # NOTE: ideally, parse-changelog should be shipped via conda-forge
      - uses: taiki-e/install-action@parse-changelog

      - name: Parse changelog
        id: parse-changelog
        env:
          RELEASE_TAG: "${{ inputs.release-version }}"
        run: |
          # Parse changelog body
          RELEASE_BODY=$(parse-changelog CHANGELOG.md "$RELEASE_TAG")

          # Parse changelog title
          RELEASE_TITLE=$(parse-changelog --title-no-link CHANGELOG.md "$RELEASE_TAG")

          # Store output for GitHub Release using multiline delimiter
          echo "body<<EOF" >> "$GITHUB_OUTPUT"
          echo "$RELEASE_BODY" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

          # Store output for GitHub Release title using multiline delimiter
          echo "title<<EOF" >> "$GITHUB_OUTPUT"
          echo "$RELEASE_TITLE" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Create GitHub Release
        env:
          RELEASE_TITLE: "${{ steps.parse-changelog.outputs.title }}"
          RELEASE_BODY: "${{ steps.parse-changelog.outputs.body }}"
          RELEASE_TAG: "${{ inputs.release-version }}"
          GH_TOKEN: "${{ github.token }}"
        run: |
          # Write and read notes from a file to avoid quoting breaking things
          echo "$RELEASE_BODY" > $RUNNER_TEMP/notes.txt

          gh release create "$RELEASE_TAG" \
            --title "$RELEASE_TITLE" \
            --notes-file "$RUNNER_TEMP/notes.txt"
